discord.py>=2.3.2
pyinstaller>=5.13.0
requests>=2.31.0
browser-cookie3>=0.19.1
pynput>=1.7.6
Pillow>=10.0.1
opencv-python>=4.8.0
pycryptodome>=3.19.0
pywin32>=306
psutil>=5.9.5
GPUtil>=1.4.0
pyautogui>=0.9.54
sounddevice>=0.4.6
soundfile>=0.12.1
pyperclip>=1.8.2
geopy>=2.3.0
pyttsx3>=2.90
screeninfo>=0.8.1
numpy>=1.24.3
colorama>=0.4.6
tkinterdnd2>=0.3.0
pywin32-ctypes>=0.2.0
winregistry>=1.1.1
cryptography>=41.0.3
pyaudio>=0.2.13